extends layout 

block content 
    h1.text-center Agregar Tarea 
    
    div.container.d-flex.justify-content-center 
        form(action='success' method='post').d-flex.flex-column
            label(for='ListumId') Lista: 
                select(name='ListumId', class='form-control')
                    each lista in listas 
                        if(lista.id == aux)
                            option(value=`${lista.id}` selected) #{lista.titulo}
                        else 
                            option(value=`${lista.id}`) #{lista.titulo}
            label(for='titulo') Titulo:
                input(name='titulo', type='text', class='form-control')
            label(for='descripcion') Descripcion:
                input(name='descripcion', type='text', class='form-control') 
            label(for='fechaL') Fecha Limite:
                input(name='fechaL', type='date', class='form-control')
            label(for='prioridad') Prioridad:
                select(name='prioridad', class='form-control')
                    option(value='-1') Baja
                    option(value='0') Media
                    option(value='1') Alta
            label(for='estado') Estado:
                select(name='estado', class='form-control')
                    option(value='-1') Pendiente
                    option(value='0') En Proceso
                    option(value='1') Resuelta
            input(type="submit") 

